<template>
    <base-container v-if="user">
        <h2>{{ user.fullName }}: Projects</h2>
        <base-search
            v-if="hasProjects"
            @search="updateSearch"
            :search-term="enteredSearchTerm"
        ></base-search>
        <ul v-if="hasProjects">
            <project-item
                v-for="prj in availableProjects"
                :key="prj.id"
                :title="prj.title"
            ></project-item>
        </ul>
        <h3 v-else>No projects found.</h3>
    </base-container>
    <base-container v-else>
        <h3>No user selected.</h3>
    </base-container>
</template>

<script>
import { /* ref*/ computed, watch, toRefs } from 'vue';

import useSearch from '../../hooks/search.js';
import ProjectItem from './ProjectItem.vue';

export default {
    components: {
        ProjectItem,
    },
    props: ['user'],
    setup(props) {
        // const projects = props.user ? props.user.projects : [];

        // We did this with computed instead of just const, because as we know from previous
        // lessons, props are reactive, but the childs inside are not. so props.user initially is
        // empty, and even after we select user, it stays empty because when the setup runs once,
        // it declares the projects const with empty array, since we have no user selected, and
        // after user is selected, this declaration is not re-run, since props.user is not reactive.
        // In order to fix that, one way is to wrap it inside computed, so whenever props elements
        // are getting changed, it affects the computed property, so it updates the new changes back.

        //        const projects = computed(function() {
        //            return props.user ? props.user.projects : [];
        //        });
        //

        const { user } = toRefs(props);
        // Since we used already toRefs below to make the props child user reactive too, we can
        // just move it before this computed property, to prevent this computed to run at every
        // prop change. Like this it will only trigger whenever user is gettng changed.
        const projects = computed(function() {
            return user.value ? user.value.projects : [];
        });

        const { enteredSearchTerm, availableItems, updateSearch } = useSearch(
            projects,
            'title'
        );

        //        return props.user.projects.filter((prj) =>
        //          prj.title.includes(activeSearchTerm.value)
        //        );
        const hasProjects = computed(function() {
            return user.value.projects && availableItems.value.length > 0;
        });

        watch(user, function() {
            //enteredSearchTerm.value = ''; This is not the most elegant way to change a variable
            // that is handled inside the hook. Directly changing the values inside the hook, can
            // introduce bugs and  interferences with other logic inside. It would be cool if we
            // can make a function that will change the value for us, whenever we call it.
            // But hey! We have the perfect function that was already made in this hook!
            updateSearch(''); // And here it is!
        });

        return {
            enteredSearchTerm,
            availableProjects: availableItems,
            hasProjects,
            updateSearch,
        };
    },
};
</script>

<style scoped>
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
</style>
