<template>
    <user-alert v-if="alertIsVisible" :title="title" @close="hideAlert">
        <p>Do you want to continue with adding a user?</p>
    </user-alert>
    <section>
        <h2>Add a User</h2>
        <button @click="showAlert">Add User</button>
    </section>
</template>

<script>
// Note: you can't add components into mixins.
import UserAlert from './UserAlert.vue';
import alertMixin from '../mixins/alert.js';

export default {
    data() {
        return {
            title: 'Add User - alert ON intentionally by default coz we override the mixin data',
            // Even tho we have data here, and in the mixin, when we use it
            // like this, question remains? Which date wins? Well, they get
            // merged together. The mixin data() and the component using the mixin data() are getting merged.
            alertIsVisible: true,
            // HOWEVER, if we add data property with the same name, the component data overrides the mixin value.
            // so in this case, the alert will be open by default.
        };
    },
    mixins: [alertMixin],
    components: { UserAlert },
};
</script>
