<template>
    <user-alert
        v-if="alertIsVisible"
        :title="title"
        @close="hideAlert"
    >
        <p>Do you want to continue with deleting a user?</p>
    </user-alert>
    <section>
        <h2>Delete a User</h2>
        <button @click="showAlert">Delete User</button>
    </section>
</template>

<script>
// Note: you can't add components into mixins.
import UserAlert from './UserAlert.vue';
import alertMixin from '../mixins/alert.js';

export default {
    data() {
        return {
        title: 'Delete User',
        }
    },
    // Even tho we have data here, and in the mixin, when we use it
    // like this, question remains? Which date wins? Well, they get
    // merged together. The mixin data() and the component using the mixin data() are getting merged.
    // Read more in AddUser.vue
    mixins: [alertMixin],
    components: { UserAlert },
};
</script>
