<template>
    <base-container>
        <h2>Active Users</h2>
        <base-search
            @search="updateSearch"
            :search-term="enteredSearchTerm"
        ></base-search>
        <div>
            <button
                @click="sort('asc')"
                :class="{ selected: sorting === 'asc' }"
            >
                Sort Ascending
            </button>
            <button
                @click="sort('desc')"
                :class="{ selected: sorting === 'desc' }"
            >
                Sort Descending
            </button>
        </div>
        <ul>
            <user-item
                v-for="user in displayedUsers"
                :key="user.id"
                :user-name="user.fullName"
                :id="user.id"
                @list-projects="$emit('list-projects', $event)"
            ></user-item>
        </ul>
    </base-container>
</template>

<script>
import { /* ref, computed,*/ toRefs /* watch */ } from 'vue';

import UserItem from './UserItem.vue';
import useSearch from '../../hooks/search.js';
import useSort from '../../hooks/sort.js';

export default {
    components: {
        UserItem,
    },
    props: ['users'],
    emits: ['list-projects'],
    setup(props) {
        const { users } = toRefs(props); // We are doing this so we send consistently ref to our
        // hook. We would love that so in case something get updated, we re-run the hook, and update
        // the values inside too, and maybe get a new value as return.

        // The issue that we had with projects not being updated when you select a user, was exactly
        // because of this. We were selecting new user, but the computed was not re-run, since we were
        // sending to our hook just plain primitive value "string" as argument, which was not reactive.
        // This way we make sure that whenever something gets updated, it gets updated everywhere.

        const { enteredSearchTerm, availableItems, updateSearch } = useSearch(
            users,
            'fullName'
        );
        const { sorting, sort, displayedUsers } = useSort(availableItems, 'fullName');

        return {
            enteredSearchTerm,
            updateSearch,
            displayedUsers,
            sorting,
            sort,
        };
    },
};
</script>

<style scoped>
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
</style>
