<template>
    <user-alert v-if="alertIsVisible" title="Add a User?" @close="hideAlert">
        <p>Do you want to continue with adding a user?</p>
    </user-alert>
    <section>
        <h2>Add a User</h2>
        <button @click="showAlert">Add User</button>
    </section>
</template>

<script>
import useAlert from '../hooks/alert.js';
import UserAlert from './UserAlert.vue';

export default {
    components: {
        UserAlert,
    },
    setup() {
        const [alertIsVisible, showAlert, hideAlert] = useAlert();
        // This example here is called array destructuring, and it's part of the modern js syntax.
        // Since we are using an array as return value, the names we'll use don't matter. just the order.
        // it replaces the below 3 lines, with 1 line, and it's very convenient. The only thing to
        // remeember and keep in mind when using it tho, is the order of which we destructure the stuff,
        // not the name. so if we want alertIsVisible to be alertIsVisible, we have to use it first, or else
        // it doesn't matter if we name it alertIsVisible, if we give showAlert as first value in our hook
        // this will be it's value.
        // const alertArr = useAlert(); - we can do it like this, and since the value we are getting
        // from the function comes as array, we can just do const AlertisVisible = alertArr[0] etc,
        // but the above destructuring trick is waay cooler, and we don't have to assign the 3 in 3 lines.
        // TLDR, it takes the 3 values that useAlert returns, and creates constants with the names listed
        // in the array on the left side of =. So AlertisVisible, showAlert, and hideAlert are all saved in different constants now.

        // Another thing: We doing this constants saving stuff, because the hook doesn't actually replace
        // regular composition API syntax and provide return directly to our template, we still have to do that.
        return {
            alertIsVisible,
            showAlert,
            hideAlert,
        };
        // Last thing: Worth noting is that all these constants and stuff, are really just reference to those refs
        // that are created in the hook. If something gets updated in the template with these stuffs, they are still
        // reactive and will get updated back to the original refs. So hooks return values are reactive.
        // if something changes in the useAlert, the template gets notified and updated.
    },
};
</script>
