<template>
    <user-alert
        v-if="alertIsVisible"
        title="Delete the User?"
        @close="hideAlert"
    >
        <p>Do you want to continue with deleting a user?</p>
    </user-alert>
    <section>
        <h2>Delete a User</h2>
        <button @click="showAlert">Delete User</button>
    </section>
</template>

<script>
import useAlert from '../hooks/alert.js';
import UserAlert from './UserAlert.vue';

export default {
    components: {
        UserAlert,
    },
    setup() {
        const [alertIsVisible, showAlert, hideAlert] = useAlert(true); // We can set our argument value
        // when calling the hook, but since we have also defined default value for our argument, we can
        // leave it as default by omitting the argument and calling just the hook with useAlert().
        // more notes about this in AddUser.vue.
        return {
            alertIsVisible,
            showAlert,
            hideAlert,
        };
    },
};
</script>
